<h1>Game name: <%= @game.name %></h1>
<br>
<h2>New player name:</h2>
<%= form_with model: @players do |form| %>
  
  <p>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit "Generate sweepstake" %>
  </p>
<% end %>
