<h1><%= @competition.name %></h1>

<h1><%= @game.name %></h1>

<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %>
    </li>
  <% end %>
</ul>

<%= "@players in show is #{@players.inspect}" %>